



<br>
<br>

<div class="container">
    
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">Customer Id</div>
        <div class="col col-2">Wallet Id</div>
        <div class="col col-3">Wallet Amount</div>
        <div class="col col-4">Wallet Source</div>
      </li>
      <li class="table-row"  >
        <div class="col col-1" data-label="Customer Id"> {{(wallet | async)?.customerid}}</div>
        <div class="col col-2" data-label="Wallet Id">{{(wallet | async)?.walletid}}</div>
        <div class="col col-3" data-label="Wallet Amount">{{(wallet | async)?.walletamt}}</div>
        <div class="col col-4" data-label="Wallet Source">{{(wallet | async)?.walletsource}}</div>
        

      </li>
      </ul>
      </div>
      <br>
        <br>
<div class="wrap">
    <div class="search">

<input type="text" name="wsource" [(ngModel)]="wsource" class="searchTerm" placeholder="Enter Source" /> 
<br/><br/>
<input type="button" value="Search" (click)="search()" class="searchButton"/>
<br/><br/>
    </div></div>