
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

<h1 id="headline">Customer Login</h1>

 <div class="main">
  <p class="sign" align="center">Login</p>

    <form #loginForm="ngForm" class="form1" (ngSubmit)="login(loginForm)">
    <input type="text" name="username" placeholder="UserName" class="un" [(ngModel)]="cusername" required="required"><br>
    <input type="password" name="password" placeholder="Password" class="pass" [(ngModel)]="cpassword" required="required"><br>
    <input type="submit" class="submit"  value="Login"/><br><br>
    <input type="reset" class="reset" value="Reset"/><br>
    <hr/>
    <p style="font-family: cursive;">Don't have an account? <a [routerLink]="['/AddCustomer']" style="color: rgb(158, 45, 45);"> Create  one</a></p>

     <div *ngIf="loginForm.submitted && isFormSubmitted==false"> 
        <p style="color:rgb(190, 31, 31)">
            Please Enter UserName and Password
           </p>
         </div>
        </form>       
    </div>
  

