<br>
<br>
  <div class="container">
    <div class="title">Add Menu</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
            
          <div class="input-box">
            <span class="details">Item Name</span>
            <input type="text" placeholder="Enter Item name" [(ngModel)]="menus.menuitem" name="menuitem" required>
          </div>
          <div class="input-box">
            <span class="details">Price</span>
            <input type="number" placeholder="Enter Price of the Item"  [(ngModel)]="menus.menuprice" name="menuprice" required>
          </div>
          <div class="input-box">
            <span class="details">Speciality</span>
            <input type="text" [(ngModel)]="menus.menuspeciality" name="menuspeciality" placeholder="Enter item Speciality" required>
          </div>
          
        </div>
        <div class="button">
            
            <input type="button" value="AddMenu" (click)="addMenu()" id="create-account"/>

        </div>
        <div class="button">
          <input type="reset" class="reset" value="Reset" id="create-account"/>
        </div>
      </form>
    </div>
  </div>

