
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

<span id="wrapper">
    <div id="cravings">
    <h1 id="headline">Find your Cravings</h1>
    </div>
    <br>
    <span id="loginbutton">
    <a [routerLink]="['CustomerLogin']"  class="button two">Customer Login</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <a [routerLink]="['VendorLogin']"   class="button two">Vendor Login</a>
</span>
</span>

     

        