
<br>
<br>

  <div class="container">
    <div class="title">Place Order</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
      
              <div class="input-box">
                <span class="details">Customer Id</span>
                <input type="number" name="orderdetails.customerid" [(ngModel)]="orderdetails.customerid" />              </div>
      
          <div class="input-box">
            <span class="details">Date</span>
            <input type="date" min="2021-11-20" [(ngModel)]="orderdetails.ord_DATE" name="orderdetails.ord_DATE" name="orderdetails.ord_DATE" />        </div>
          <div class="input-box">
            <span class="details">Order Quantity</span>
            <input type="number" [(ngModel)]="orderdetails.orderquantity" name="orderquantity" required placeholder="Enter Quantity" />          </div>
          <div class="input-box">
            <span class="details">Order Comments</span>
            <input type="text" [(ngModel)]="orderdetails.odercommands" name="odercommands" placeholder="Comments" required>
          </div>
          <div class="input-box">
            <span class="details">Wallet</span>
          <select class="classic" [(ngModel)]="orderdetails.walletsource" name="walletsource">
            <option *ngFor="let f of wallet | async" value={{f.walletsource}}>
                {{f.walletsource}}
            </option>
        </select>
          </div>
          <div class="input-box">
            <span class="details">Select Menu Item</span>
            <select class="classic" [(ngModel)]="orderdetails.menuid" name="menuid" (change)="showAmount()" placeholder="Select Item" required>
                <option *ngFor="let e of menu | async" value={{e.menuid}}>
                    {{e.menuitem}}
                </option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">Price</span>
            <input type="number" name="price" [(ngModel)]="price" readonly />
                     </div>
          <div class="input-box">
            <span class="details">Select vendor</span>
          <select class="classic" [(ngModel)]="orderdetails.vendorid" name="vendorid">
            <option *ngFor="let f of vendor | async" value={{f.vendorid}}>
                {{f.vendorname}}
            </option>
        </select> 
          </div>
        </div>
        <div class="button">
            <input type="button" value="PlaceOrder" (click)="placeOrder()" id="create-account"/>  
                </div>
                <div class="button">
                  <input type="reset" class="reset" value="Reset" id="create-account"/>
                </div>
      </form>
      <p style="text-align: center;">{{msg}}</p>
    </div>
  </div> 



