<!-- <p>accept-reject works!</p>
Vendor Id:
<input type="number" name="venId"  [(ngModel)]="venId" /> <br/><br/>
Order Id:
<input type="number" name="oid" [(ngModel)]="oid" /> <br/><br/>
Order Status : 
<select [(ngModel)]="ordStatus">
  <option value="YES">YES</option>
  <option value="NO">NO</option>
</select> <br/><br/>
<input type="button" value="Accept/Reject" (click)="acceptReject()" /> 
<p>{{ordStatus}}{{result}}</p> -->




<br>
<br>
  <div class="container">
    <div class="title">Accept or Reject</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
            
          <div class="input-box">
            <span class="details">Vendor Id</span>
            <input type="number" name="venId"  [(ngModel)]="venId" [ngModelOptions]="{standalone: true}" />
          </div>
          <div class="input-box">
            <span class="details">Order Id</span>
            <input type="number" name="oid" [(ngModel)]="oid" [ngModelOptions]="{standalone: true}"/> 
          </div>
          <div class="input-box">
            <span class="details">YES/NO</span>
            <select class="classic" [(ngModel)]="ordStatus" [ngModelOptions]="{standalone: true}">
              <option value="YES">YES</option>
              <option value="NO">NO</option>
            </select>
          </div>
          
        </div>
        
        <div class="button">
          <input type="button" value="Accept/Reject" (click)="acceptReject()" id="create-account"/>
        </div>
        {{ordStatus}}
  {{result}}
      </form>
     

    </div>
  </div>
  