<br>
<br>

<div class="container">
    
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">Menu Id</div>
        <div class="col col-2">Item Name</div>
        <div class="col col-3">Price</div>
        <div class="col col-4">Speciality</div>
      </li>
      <li class="table-row"  *ngFor="let u of menus | async">
        <div class="col col-1" data-label="Menu Id">{{u.menuid}}</div>
        <div class="col col-2" data-label="Item Name">{{u.menuitem}}</div>
        <div class="col col-3" data-label="Price">{{u.menuprice}}</div>
        <div class="col col-4" data-label="Speciality">{{u.menuspeciality}}</div>
      </li>
      </ul>
      </div>
